<% provide(:title, 'Home') %>
<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section><%= render 'shared/user_info' %></section>
      <section><%= render 'shared/stats' %></section>
			<section><%= render 'shared/micropost_form' %></section>
		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
<div class="row">
  <div class="span8">
    <section><%= render 'shared/search_job'%></section>
    <esction><%= render 'shared/jobs' %></section>
  </div>
  <aside class="span4">
    <section class="metro">
          <a href="#" class="tile square text tilesquareblock">
                     <div class="text-big">22</div>
                     <div class="text">Text field 2</div>
                  </a>
    </section>
  </aside>
</div>
<% end %>

 <button class="win-command" rel="tootlip" title="Simple command with only an icon">
<span class="win-commandicon icon-cog-4"></span>
</button>