<h3>Filter by Location</h3>
<%= form_tag '/', method: 'get' do |f| %>
<ul class="filter-job-type">
  <% City.each do |location| %>
  <li> <%= check_box_tag 'locations[]', location.to_s, @option.locations.include?(location.to_s) %>  <%= location.text %>   </li>
  <% end %>
</ul>
<% @option.job_types.each do |o| %>
  <%= hidden_field_tag 'job_types[]', o %>
<% end %>
  <%= hidden_field_tag :keyword, @option.keyword %>
  <%= hidden_field_tag :job_category, @option.job_category %>
  <%= submit_tag "Filter", class: "btn btn-large btn-primary"%>
<% end %>