<section class="metro">
<% if @jobs.any? %>
<ul class="jobs">
<% @jobs.each do |job| %>
<li>
  <div class="row">
    <div class="span1">
      <%= render 'shared/like' %>
    </div>
    <div class="span1 job-type">
      <%= job.job_type.text %>
    </div>
    <div class="span4">
      <h4><%= job.title %></h4>
      <small><%= job.company %></small>
    </div>
    <div class="span1">
      <%= job.created_at.strftime('%d %b')%><br/>
      <%= job.valid_after %> day(s)
    </div>
    <div class="span1 city">
      <%= job.city.text %>
    </div>
</li>
<% end %>
</ul>

<%= will_paginate @jobs %>
<% else %>
  No job has been posted
<% end %>

</section>